@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype'),
       url('/fonts/Roboto-Bold.ttf') format('truetype');
  /* Add other font formats and variations if needed */
}

body {
  color: rgb(255,255,255);
  background: rgb(22,22,22);
} 
    
.navCollision{
  width: 100%;
  height: 50px;
  top: 0px;
}

.navbar{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  z-index: 15;
  border-bottom: 1px solid transparent;

  transition: all 0.25s ease-in;
}

.navbar2{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  z-index: 999;  
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: all 0.25s ease-out;
}

/* Add basic styles to the text element */
.block {
    background-clip: padding-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    padding: 5px 10px;
    display: inline;
    transform: scale(1,1);
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 50px solid #FFF;
	border-bottom: 50px solid transparent;
  translate: 100px 50px;
}
